<!-- //ADRIAN VARGAS
//301173276
//ASSIGNMENT 1 & 2
//OCTOBER 2022-->


<%- include partials/header -%>

    <div class="container">
        <section id="about-me">
          <div class="column-2">
            <h1>About me</h1>
            <p>
              My name is Adrian I'm 32 years old I work as an AI Technical Consultant for CM.com (A CPASS company based in Austin Texas).
              I have experience working in some cool disruptive technologies over the past 7 years.
              Some of this technologies include Big Data (for microsegmentation purposes and targeted marketing), blockchain (for smart contract creation), and NLP based chatbots.
              One of my Hobbys is virtual reality, I love yo play flight simulators on VR, I got a fully customized flight cabin based on an f18 plane.
              I love to do what I love!
            </p>
          </div>
        </section>
        <section id="my-facen">
          <div class="column-2 large-profile"></div>
        </section>
      </div>
      <section class="resume">
        <button type="button" class="btn btn-warning">
          <a href="CV Adrian Vargas 2020 English APC.pdf" class="file" download="newfilename">Download Adrian's Resume</a>
        </button>
      </section>
<%- include partials/footer -%>