<!-- //ADRIAN VARGAS
//301173276
//ASSIGNMENT 1 & 2
//OCTOBER 2022-->

<%- include partials/header -%>
<section id="contact-me">

    <div class="contact-info">
        <h1 class="contact-title">Contact</h1>
        <h2 class="phone-number">Phone number: 00112233445566</h2>
        <h2 class="email:"> avarga10@my.centennial.ca</h2>
    </div>
</section>
<section id="call-to-action-form">
    <h1 class="action-title">MSG ME</h1>
    <form class="contact-form">
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      <button class="send-button" type="reset"><a href="/" style="text-decoration: none;">Send</a></button>
      </form>
</section>

<%- include partials/footer -%>
