<!-- //ADRIAN VARGAS
//301173276
//ASSIGNMENT 1 & 2
//OCTOBER 2022-->

<%- include partials/header -%>

    <section id="welcome-message" class="d-flex h-100 text-center text-dark">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
        <main class="px-3">
          <h1>Welcome to my Web development Assignment!</h1>
          <p class="lead">I love to do what I like!</p>
          <p class="lead">Higly motivated individual, with excellent communications skills, deep disruptive technologies knowledge </p>
        </main>
    </section>
        </main>
      </div>
    </section>
    <section id="mission-statement" class=" h-100 text-center">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
          <h1>Mission Statement</h1>
          <p class="lead">I will always try to get the best out of teams and peole.</p>
          <p class="lead">Good sense of responsability is one of the most important trais I can bring to the table</p>
        </main>
      </div>
    </section>
<%- include partials/footer -%>
