<%- include partials/header -%>
<section id="services">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">SERVICES</h1>
          <p class="lead">I WILL OFFERING TECHNICAL CONSULTANCY </p>
          <hr>
          <br>

          <h2>These are the technologies that I am currently working with:</h2>
        </div>
      </div>
      <br>
      <hr>


      <div class="row">
        <div class="col-sm-6" style="width: 18rem">
            <div class="card">
              <img class="card-img-top" src="images/chatbot2.png" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">AI BASED CHATBOT CREATION</h5>
                  <p class="card-text">ABILITY TO CREATE FROM SCRATCH A SMART CHATBOT SOLUTION FOR ALL KIND OF BUSINESS </p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 first-card" style="width: 18rem">
          <div class="card">
            <img class="card-img-top" src="images/bigdata2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BIG DATA MICROSEGMENTATION</h5>
                <p class="card-text">ABILITY TO OFFER COMPANIES THE CHANCE TO UNDERSTAND THEIR CUSTOMERS IN A REALLY WELL DEFINED WAY, SO THEY CAN START REALLY SUCCESFULL MARKETING CAMPAIGNS </p>
            </div>
          </div>
        </div>   
      </div>
    </div>
    <div class="col-sm-6" style="width: 18rem">
        <div class="card">
          <img class="card-img-top react-img" src="images/react-logo.png" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">REACT DEVELOPMENT</h5>
              <p class="card-text">MEDIUM KNOWLEDGE</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="width: 18rem">
        <div class="card">
          <img class="card-img-top" src="images/node-logo.webp" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">Node JS</h5>
              <p class="card-text">BACK END SOLUTION</p>
          </div>
        </div>
      </div>
  </div>
</section>
<%- include partials/footer -%>
